* {
  margin: 0;
  padding: 0;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image: url(images/logo.gif);
  background-image: url(images/cyber.gif.e7e2a0a3e8197bea9102d5fc7ccc554e.gif);
  background-position: center;
  background-size: cover;
  position: relative;
}
